.about-me-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--px-4);
  padding: 0 calc(var(--px-4) * 3);
  margin: auto;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
  @media screen and (max-width: 750px) {
    padding: 0 var(--px-4);
  }
}

.about-me-image {
  width: 20%;
  border-radius: 10px;
  @media screen and (max-width: 1000px) {
    width: 50%;
  }
  @media screen and (max-width: 750px) {
    width: 75%;
  }
}

.about-me-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--px-2);
}

.about-me-description a {
  color: var(--colour-3);
}
