@import url("./variables.css");

/* GLOBALS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-bg-colour);
  font-family: var(--regular-font);
  color: var(--light-text-colour);
}

/* HEADER */

header {
  padding: var(--px-2);
  background-color: var(--dark-bg-colour);
  width: 100%;
  height: var(--header-height);
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 50;
}

header > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dark-text {
  color: var(--dark-text-colour);
}

header > nav > .logo {
  padding: 0 0 0 70px;
  justify-self: start;
  font-size: var(--logo-font-size);
  font-family: var(--logo-font);
  letter-spacing: 5px;
  font-weight: 700;
}

header > nav > .nav-list {
  justify-self: end;
}

header > nav > .socials {
  padding: 0 70px 0 0;
  justify-self: end;
  display: flex;
  justify-content: space-between;
}

header > nav > .socials > a {
  display: block;
  height: fit-content;
  width: fit-content;
  text-decoration: none;
  margin: 0 var(--px-1);
}

header > nav > .socials > a:hover {
  opacity: 70%;
}

header > nav > .nav-list > .nav-item {
  margin: 0 var(--px-2);
  text-decoration: none;
  font-size: var(--header-font-size);
  font-family: var(--title-font);
  font-weight: 400;
  letter-spacing: 3px;
}

header > nav > .nav-list > .active {
  color: var(--active-nav-colour);
  font-weight: 600;
}

header > nav > .nav-list > .nav-item:hover {
  opacity: 70%;
  font-size: calc(var(--header-font-size) + 0.1rem);
}

/* MAIN CONTENT */

main {
  margin-top: var(--header-height);
}

.title {
  font-family: var(--title-font);
  font-size: 3rem;
  letter-spacing: 10px;
  font-weight: 700;
  color: var(--light-text-colour);
  margin: 40px 0;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
  background-color: var(--dark-bg-colour);
}

footer > .initials {
  font-family: var(--logo-font);
  font-size: var(--initials-font-size);
  margin-bottom: var(--px-3);
}

footer > .nav-list {
  margin-bottom: var(--px-4);
  font-size: var(--footer-font-size);
  font-weight: 400;
  letter-spacing: 3px;
}

footer > .nav-list > a {
  text-decoration: none;
  margin: 0 var(--px-2);
}

footer > .socials {
  display: flex;
  justify-content: space-between;
}

footer > .socials > a {
  display: block;
  height: fit-content;
  width: fit-content;
  text-decoration: none;
  margin: 0 var(--px-2);
}

footer > .nav-list > a:hover {
  text-decoration: underline;
  opacity: 70%;
}

footer > .socials > a:hover {
  opacity: 70%;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1000px) {
  header {
    padding: 0;
    height: auto;
  }

  .hamburger {
    display: block;
    color: white !important;
    background-color: var(--dark-bg-colour) !important;
    border: none;
    cursor: pointer;
  }

  header > nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  header > nav > .logo {
    width: 100%;
    height: var(--header-height);
    padding: 0 20px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header > nav > .nav-list {
    display: none;
    width: 100%;
  }

  header > nav > .socials {
    display: none;
    padding: 20px 0;
  }

  header > nav > .nav-list > .nav-item {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 10px;
  }

  header > nav > .nav-list > .nav-item:hover {
    opacity: 70%;
    background-color: rgb(61, 61, 61);
    font-size: var(--header-font-size);
  }
}
